form {
    max-width: 30rem;
    margin: 0 auto;
    margin-top: 50px;
    padding: 1.5rem 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.testText{
    text-align: center;
    font-weight: 400;
    font-size: 100px;
}