.drop {
    width: 300px;
    height: 360px;
}

.listgroup {
    width: 80%;
    height: 250px;
    margin: 50px auto;
    border: 8px solid lightblue;
}

.ADButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.RMButton {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}